name: {{name}}
fileGroups: [module.yml, project.yml]
¶
options:
  defaultConfig: Release
  bundleIdPrefix: {{globals.bundleIdPrefix}}
  transitivelyLinkDependencies: true
  createIntermediateGroups: true
  minimumXcodeGenVersion: 2.10.1
¶
targets:
  {{#mainTarget}}
  {{name}}:
    type: framework.static
    platform: iOS
    sources:
    {{#sources}}
      - {{.}}
    {{/sources}}
    {{#dependencies.count}}
    dependencies:
    {{/dependencies.count}}
    {{#dependencies}}
      - framework: {{name}}.framework
        implicit: true
    {{/dependencies}}
    info:
      path: {{globals.supportPath}}/{{name}}/Info.plist
  {{/mainTarget}}
¶
  {{#testTarget}}
  {{name}}:
    type: bundle.unit-test
    platform: iOS
    settings:
      base:
        # Needed for getting proper test coverage percentages when using static frameworks
        OTHER_LDFLAGS: -all_load
    sources:
    {{#sources}}
      - {{.}}
    {{/sources}}
    dependencies:
      - target: {{mainTarget.name}}
    info:
      path: {{globals.supportPath}}/{{name}}/Info.plist
  {{/testTarget}}
¶
schemes:
  {{name}}:
    build:
      targets:
        {{name}}: all
    test:
      gatherCoverageData: true
      targets:
        - name: {{testTarget.name}}
          randomExecutionOrder: true
