name: {{name}}
fileGroups: [module.yml, project.yml]
¶
options:
  defaultConfig: Release
  bundleIdPrefix: com.acecilia
  transitivelyLinkDependencies: True
  createIntermediateGroups: true
¶
targets:
  {{#mainTarget}}
  {{name}}:
    type: framework.static
    platform: iOS
    sources:
    {{#sources}}
      - {{.}}
    {{/sources}}
    {{#dependencies}}
    dependencies:
    {{/dependencies}}
    {{#dependencies}}
      - framework: {{name}}.framework
        implicit: true
    {{/dependencies}}
    info:
      path: .build/{{name}}/Info.plist
  {{/mainTarget}}
¶
  {{#testTarget}}
  {{name}}:
    type: bundle.unit-test
    platform: iOS
    settings:
      base:
        # Needed for getting proper test coverage percentages when using static frameworks
        OTHER_LDFLAGS: -all_load
    sources:
    {{#sources}}
      - {{.}}
    {{/sources}}
    dependencies:
      - target: {{mainTarget.name}}
    info:
      path: .build/{{name}}/Info.plist
  {{/testTarget}}
¶
schemes:
  {{name}}:
    build:
      targets:
        {{name}}: all
    test:
      gatherCoverageData: true
      targets:
        - name: {{testName}}
          randomExecutionOrder: true
