name: {{name}}
fileGroups: [module.yml, project.yml]
¶
options:
  defaultConfig: Release
  bundleIdPrefix: com.acecilia
  transitivelyLinkDependencies: True
  createIntermediateGroups: true
¶
targets:
  {{name}}:
    type: framework.static
    platform: iOS
    sources:
    {{#sources}}
      - {{.}}
    {{/sources}}
    {{#dependencies}}
    dependencies:
    {{/dependencies}}
    {{#dependencies}}
      - framework: {{.}}
        implicit: true
    {{/dependencies}}
    info:
      path: .build/{{name}}/Info.plist
¶
  {{testName}}:
    type: bundle.unit-test
    platform: iOS
    settings:
      base:
        # Needed for getting proper test coverage percentages when using static frameworks
        OTHER_LDFLAGS: -all_load
    sources:
    {{#sources}}
      - {{.}}
    {{/sources}}
    dependencies:
      - target: {{name}}
    info:
      path: .build/{{testName}}/Info.plist
¶
schemes:
  {{name}}:
    build:
      targets:
        {{name}}: all
    test:
      gatherCoverageData: true
      targets:
        - name: {{testName}}
          randomExecutionOrder: true
